@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:burlywood">
    <h1 style="color:darkgoldenrod"><u>MVC Project</u></h1>
    <p class="lead" style="color:green">I am trying to develop a project for the users to create an account and login with there details and logout. </p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2 style="color:darkgoldenrod">Getting started</h2>
        <p>
            This Application is mainly based on the MVC module by using Entity Framework.
        </p>
         </div>
    <div class="col-md-6">
        <h2 style="color:darkgoldenrod">Thanks For Reading</h2>
        <p>First you have to go to Home page and there you need to create an account by proving all the details.</p>
        <p>Next you can log in by using the username and Password.</p>
        <p><a class="btn btn-primary" href="http://localhost:49899/MVC5/Account/Login">Home Page &raquo;</a></p>
    </div>
</div>